@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet');

body{
    margin:0;
    padding:0;
    font-family: 'Hepta Slab', serif;
}