nav{
    width: 100%;
    height: 55px;
    background-color: #360033;
    display: flex;
    align-items: center;
}

.navBarTitle{
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.nav2{
    width: 100%;
    height: 55px;
    background-color: #460030;
    display: flex;
    align-items: center;
}

.navBarSubtitle{
    margin-left: 50%;
    font-size:30px;
    color: white;
}

.divSeparador{
    width: 100%;
    height: 100px;
    display: flex;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0px;
    align-items: center;
    justify-content: center;
}

.hero{
    position: relative;
    background: #eeeeee;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: Calc(100vh - 110px); /*Se calcula el 100 de alto de tu pantalla - 110 px que miden tus navbars*/
}

/*Div que se usa para aplicarle un efecto de degradado o control de opacidad a la imagen*/
.mask{
    position: absolute;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Div que controla el posicionamiento del titulo*/
.heroTitleContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.heroTitleP{
    text-align: center;
    max-width: 50%;
    font-size: 148px;
    color: white;
    border:solid;
}

/*Titulo del hero*/
.heroTitle{
    text-align: center;
    max-width: 50%;
    font-size: 180px;
    color: white;
    border:solid;
}

.imagenAbs{
    width:100%;
    height: 100%;
    object-fit: cover; /*fill contain none cover scale-down*/
    position: absolute;
    z-index: 0;
}

