nav{
    width: 100%;
    height: 55px;
    background-color: #360033;
    display: flex;
    align-items: center;
}

.navBarTitle{
    margin-left: 20px;
    font-size: 30px;
    color: white;
}

.nav2{
    width: 100%;
    height: 55px;
    background-color: #460030;
    display: flex;
    align-items: center;
}

.navBarSubtitle{
    margin-left: 50%;
    font-size:30px;
    color: white;
}

.divSeparador{
    width: 100%;
    height: 100px;
    display: flex;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0px;
    align-items: center;
    justify-content: center;
}

.divSepTitle{
    text-align: center;
    font-size: 40px;
    color:white;
}
.hero{
    position: relative;
    background: #eeeeee;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: Calc(100vh - 110px); /*Se calcula el 100 de alto de tu pantalla - 110 px que miden tus navbars*/
}

/*Div que se usa para aplicarle un efecto de degradado o control de opacidad a la imagen*/
.mask{
    position: absolute;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Div que controla el posicionamiento del titulo*/
.heroTitleContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.heroTitleP{
    text-align: center;
    max-width: 50%;
    font-size: 148px;
    color: white;
    border:solid;
}

/*Titulo del hero*/
.heroTitle{
    text-align: center;
    max-width: 50%;
    font-size: 180px;
    color: white;
    border:solid;
}

.imagenAbs{
    width:100%;
    height: 100%;
    object-fit: cover; /*fill contain none cover scale-down*/
    position: absolute;
    z-index: 0;
}

.heroGrid{
    display: grid;
    height: 67vh; 
            background:
                radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
                radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),#8a3;
                background-size: 20px 20px;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 40px;
    grid-template-areas: "cuadro1 cuadro2 cuadro3 cuadro4";
}

.cuadro1Child{
    grid-area: cuadro1;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px 20px; 
    border:solid;
}

.cuadro2Child{
    grid-area: cuadro2;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px 20px;
    border:solid; 
}

.cuadro3Child{
    grid-area: cuadro3;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px 20px;
    border:solid;
}

.cuadro4Child{
    grid-area: cuadro4;
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px 20px;
    border:solid;
}

.imagenCard{
    width: 100%;
    height: 100;
    object-fit: contain;
}

@media screen and (max-width: 850px){ /*Breakpoint*/
    .heroGrid{
        width: 100%;
        height: auto; 
        background: #bdf478;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        row-gap: 30px;
        column-gap: 0px;
        gap: 40px;
        grid-template-areas: "cuadro1"
                             "cuadro2" 
                             "cuadro3"
                             "cuadro4";
    }
    
   
}

